<html>
<body>
    <h3>Contact Detail</h3>
    <div>ID: <%=question.uid%></div>
    <div>First Name: <%=contact.fname%></div>
    <div>Last Name: <%=contact.lname%></div>
    <div>Last Name: <%=contact.email%></div>
    <div>Last Name: <%=contact.phone%></div>
    <div>Last Name: <%=contact.zip%></div>
</body>
</html>